


.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  background: var(--background-color);
  color: var(--text-color);
}

h1, h2, h3 {
  font-family: var(--font-heading);
  color: var(--text-color);
}

p {
  font-family: var(--font-main);
}

button {
  font-family: var(--font-main);
  background-color: var(--secondary-color);
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: var(--background-color);
}

