
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --primary-color:  #FBFBFB;   /* light green */
  --secondary-color: #4C8D8CD4; /* light gray */
  --background-color: #B2F5D0;
  --text-color: #000000;

  --font-main: 'Inter', sans-serif;
  --font-secondary: 'Jost', sans-serif;
  --font-heading: 'Inter', sans-serif;
}

body {
  font-family: var(--font-main);
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}

/* Dark Theme */
[data-theme="dark"] {
  --primary-color: #302D2D;   
  --secondary-color: #4C8D8C; 
  --background-color: #1B2B27; 
  --text-color: #FFFFFF;
}
